* {
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.password-manager-app {
  background-color: #9ba9eb;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.logo-img {
  align-self: flex-start;
  width: 200px;
  height: 60px;
  margin-left: 50px;
}

@media screen and (max-width: 576px) {
  .password-manager-app {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
  }

  .logo-img {
    width: 120px;
    height: 40px;
    align-self: left;
  }
}

.input-container {
  background-color: #5763a5;
  border-radius: 8px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 50px;
}

.result-container {
  background-color: #5763a5;
  border-radius: 8px;
  text-align: center;
  padding: 50px;
  width: 90%;
  margin-top: 50px;
}

@media screen and (max-width: 576px) {
  .result-container {
    padding: 10px;
    width: 100%;
  }
}

.add-new-password {
  background-color: #454f84;
  padding: 20px;
  border-radius: 8px;
  width: 45%;
  margin-right: 15px;
}

.img-1 {
  width: 500px;
  height: 450px;
  margin-right: 15px;
}

@media screen and (max-width: 576px) {
  .input-container {
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
  }
  .img-1 {
    width: 200px;
    height: 150px;
    order: 1;
    margin-bottom: 10px;
  }

  .add-new-password {
    order: 2;
    width: 100%;
  }
}

.main-heading {
  font-size: 26px;
}

.web-input {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

input {
  border-width: 0px;
  background-color: white;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  font-size: 18px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: black;
}

.img-0 {
  margin-right: 1px;
  background-color: white;
  height: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.add-btn {
  border-radius: 8px;
  background-color: #0b69ff;
  border-width: 0px;
  cursor: pointer;
  outline: none;
  width: 100px;
  height: 40px;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  input {
    height: 30px;
    font-size: 10px;
  }

  .img-0 {
    height: 30px;
  }

  .main-heading {
    font-size: 10px;
  }

  .btn-box {
    text-align: center !important;
  }
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.count-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}

.count {
  border-radius: 10px;
  border: 1px solid white;
  width: 40px;
  text-align: center;
  margin-left: 10px;
  align-self: center;
  padding-bottom: 3px;
}

.horizontal-line {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.show-password {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  text-align: end;
}

.radio-input {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.img-2 {
  margin-right: 1px;
  background-color: white;
  height: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-bar {
  border-width: 0px;
  background-color: white;
  width: 100%;
  height: 30px;
  padding-left: 15px;
  font-size: 18px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 576px) {
  .search-bar {
    height: 20px;
    font-size: 10px;
    width: 70%;
    align-items: center;
  }

  .img-2 {
    height: 20px;
  }
  .count {
    margin-left: 5px;
    width: 20px;
    margin-right: 5px;
  }
  .heading {
    font-size: 10px;
  }
}

.img-no-password {
  width: 400px;
  height: 400px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.no {
  width: 500px;
  height: 400px;
}

@media screen and (max-width: 576px) {
  .no {
    width: 200px;
    height: 200px;
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
